# Eclipse
.classpath
.settings
.project
.springBeans

# Checkstyle, findbugs and other eclipse plugins
*/.checkstyle
*/.fbExcludeFilterFile
**/.factorypath
*/.apt_generated/

# Jenv configuration
.java-version

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Java
*.class
*.jar
*.war
*.ear

# Chef/Vagrant
*.vagrant
*.lock
TODO
*~

.terraform/
terraform.tfstate.backup
*.tfstate.*.backup
*.swp
*.plan
terraform.tfstate

# Netbeans files
nbactions.xml

# AWS credentials
*.pem
